.game-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #bce0ff;
  }

  /* GameBoard centrado */
  .board {
    flex: 1 1;
    height: 100%;
    width: 100vw;
    background-color: #bce0ff;
    position: relative;
    margin: 0 auto;
}

  
  