.start-screen {
	@apply relative flex items-center justify-center h-screen w-screen;
	background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}

.start-screen__background {
	@apply absolute inset-0 w-full h-full object-cover;
}

.start-screen__menu {
	@apply absolute bottom-20 flex flex-col items-center;
}

.start-screen__buttons {
	@apply absolute bottom-[4rem] flex flex-col gap-5;
	width: 180px;
}

.start-screen__buttons .global-button {
	width: 100%;
	height: 40px;
	padding: 0;
	font-size: 1rem;
}

.logoImage {
	@apply items-center inset-0 w-[1500px] h-[950px] object-cover;
}

.menuImage {
	@apply rounded-2xl relative -top-8 object-cover;
	width: 420px;
	height: 220px;
}

.error-message {
	@apply absolute bottom-4 text-red-500 font-bold text-center;
	width: 100%;
}
